@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

a {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

/* Set the font family for any h1, h2, or h3 heading */
header h1 {
  color: black;
  font-family: "Playfair display", times, 'Times New Roman', Times, serif;
  font-size: 45px;
  text-align: center;
}

nav {
  text-align: center;
}

h2 {
  color: black;
  font-family: "Playfair display", times, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 40px;
}

h3 {
  font-family: "Playfair Display", Times, serif;
  color: black;
  text-align: center;
  font-size: 30px;
}

h4 {
  font-family: "Playfair Display", Times, serif;
  color: black;
  text-align: center;
  font-size: 20px;
}

article {
 text-align: center;
  padding: 50px;
}

article div {
  text-align: left;
  width: 100%;
}

p {
  line-height: 1.5;
  text-align: center;
}

ul {
  text-align: left;
  margin-left: 40px;
}
li {
  text-align:left;
  margin-left: 40px;
  margin-right: 0;
 
 #myimgs{text-align:center; }
  
.my-images{text-align:center;
}
/* The div container constrains the content width within the main container to 600px */
div {
  text-align: center;
}

.image-circle {
  border-radius: 50%;
}

.position {
  display: block;
  margin: 0 auto;
}

img {
 text-align:center;
  width: 100%;
  max-width: 200px;
  height: auto;
  border: 2px solid #003049;
  justify-content: center;
  margin: 0 auto;
 
}

hr {
  border: 2px solid #003049;
}

.links {
  display: flex;
  justify-content: center;
  text-align:left;
}

.interest {
  display: flex;
  justify-content: center;
}

.artist-interest {
  justify-content: center;
  padding-left: 300px;
  j
}
